*{
    padding: 0; margin: 0; box-sizing: border-box;
}

.header{
    background-image: url(../img/bg-masthead.jpg); background-size: cover; object-fit: cover; height: 100vh; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; h1{font-size: 50px; margin-bottom: 20px;  padding-top: 50px;} p{font-size: 19px; margin-bottom: 50px;} button{border-radius: 5px; border: 0px solid royalblue; color: white; background-color: royalblue; padding: 15px 20px;} text-align: center; align-content: center; 
}
.stylish{
    height: 60vh; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; h2{font-size: 30px; margin-bottom: 20px; padding-top: 10px; margin-top: auto;} p{font-size: 17px; margin-bottom: 40px; margin-top: 20px; color: #757474;} button{border: 0px solid black; border-radius: 6px; color: white; background-color: black; padding: 15px 20px;} text-align: center; align-content: center; padding-top: -10px;
   
}

.services{
    background-color: royalblue; 
    background-size: cover;
    text-align: center;
    padding: 70px;
    flex-wrap: wrap;
    color: white;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

    #heading{
        font-size: 15px;
        color: gold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    h2{
        margin-bottom: 40px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
     
    .offers{
        display: flex;
        padding: 5%;
        align-items: center;
        justify-content: space-evenly;
    }
    .item{
        display: flex;
        width: 80px;
        height: 80px;
        background-color: white;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        border-radius: 100%;
    }
    
    .offer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        

    }
    .item img{
        height: 30px;
    }
    .offer h3{
        margin-bottom: 15px;
        text-align: center;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .offer p{
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }  
}

.website{
    background-image: url(../img/bg-callout.jpg); height: 100vh; text-align: center; align-content: center; justify-content: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h2{font-size: 40px; margin-top: 20px; margin-bottom: 40px; padding-top: 30px;}
     button {
        border: 0px solid royalblue;
        border-radius: 6px;
        color: white;
        background-color: royalblue;
        padding: 15px 20px;
      }
}
.portfolio{
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        align-content: center;
        margin-top: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
        h2{
            font-size: 50px;
          text-align: center;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        h3{
            font-size: 15px;
            text-align: center;
            color: gold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
}
.project{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.image{
    position: relative;
    width: 35%;
    margin-top: -5px;

    >div{
        position: absolute;
        bottom: 100px;
        z-index: 2;
        left: 30px;
        color: white;
        justify-content: center;
        text-align: justify;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    >img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    
}
.image h4{
    margin-bottom: 10px;
}

.buttons{
    background-color: royalblue;
     height: 60vh; 
     text-align: center; 
      justify-content: center;
      align-items: center;
      padding-top: 11%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
    h2{font-size: 25px; margin-bottom: 14px; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    #click{
        position: absolute;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 530px;
        margin: 0;
        margin-top: 10px;
        color: black;
        width: 130px;
        height: 50px;
        background-color: white;
        border-radius: 5px;
        border-color: white;
        align-content: space-between;
        text-decoration: none;
        
        }


    #look{

        position: absolute;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        right: 530px;
        margin: 0;
        margin-top: 10px;
        color: white;
        width: 130px;
        height: 50px;
        background-color: black;
        border-radius: 5px;
        border-color: black;
        align-content: space-between;
        text-decoration: none;
      
    }
}

.map{
    background-image: url(../img/map.jpeg); height: 100vh; object-fit: cover;
}


.icons{
    display: flex;
    padding: 5% 40%;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    

    .img{
        display: flex;
        width: 80px;
        background-color: blue;
        height: 80px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 100%;
        border: 1px solid royalblue;
    } 
    .img img{
        height: 30px;
    }
}
.footer{
    color: grey;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -70px;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.menu{background-color: black; opacity: 50%; width: 5%; border-radius: 3px; height: 35px; padding: 10px 20px; position: absolute; top: 20px; right: 20px;}
    
    .white{color: white; height: 3px; margin-bottom: 4px; background-color: white; border-radius: 5px;}



   


